
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
    overflow: hidden;
}


.geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar {
    background-color: #178589;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    border-bottom-right-radius: 15px;
     border-bottom-left-radius: 15px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.nav-links {
    width: 95%;
    height: 100%; 
    display: flex;
    justify-content: space-evenly;
}


.nav-left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.nav-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    padding-right: 1rem;
    color: white;
    font-size: 30px;
}

.nav-right img {
    width: 200px;
    margin-right: 5%;
    margin-top: 2%;
}

.identify-user {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 90%;
    align-items: center;
    justify-content: flex-end;
}

.btn-user{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    font-size: large;
}

.btn-logout{
    width: 40%;
    height: 90%;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.btn-logout button{
    width: 60%;
    height: 50%;
    border: 2px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    font-size: medium;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease;
}

.btn-logout button:hover{
    background-color: rgb(234, 87, 87);
    color: white;
}

.infos-gerais{
    width: 95%;
    height: 500px;
    margin: 1%;
    margin-left: 2.5%;
    margin-top: 3%;
    display: flex;
}

.cadastro-empresas{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    border-right: #006060 3px solid;
}

.lista-empresas {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    
}
.titulo-cadastro{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    padding-left: 3%;
}

.ipts-cadastro1 {
    width: 100%;
    height: 45%;
    display: flex;
    margin-top: 2%;
}

.ipts-cadastro {
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 2%;
}

.lado1, .lado2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48%;         
  margin: 0 1%;       
  padding-left: 2%;   
  box-sizing: border-box;
}

.ipt_infos{
    width: 90%;
    height: 30px;
    margin-bottom: 5%;
    border: 2px solid #006060;
    border-radius: 8px;
    padding-left: 2%;
    background-color: transparent;
    outline: none;
}

label{
    font-size: small;
}

.bi{
    color: #3b829f;
    padding-right: 1%;
}
.token-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 90%; 
}

.refresh-btn {
  position: absolute;
  right: 0px;
  top: 6%;
  background: none;
  border: none;
  cursor: pointer;
  color: #008080;
  font-size: 20px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.refresh-btn:hover {
 color: #2c6278;
  transform: rotate(90deg);
}

.password-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 90%;
}

.password-wrapper i {
  position: absolute;
  right: 0px;
  top: 8px;
  color: #3b829f;
  cursor: pointer;
  transition: color 0.3s ease;
}

.password-wrapper i:hover {
  color: #2c6278;
}

.btn-cadastrar{
    width: 90%;
    height: 32px;
    margin-top: 5%;
}

.btn-cadastrar button{
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 8px;
    padding-left: 2%;
    background-color: #008080;
    color: white;
    border: none;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    margin-top: 2%;
}

.barra-pesquisa{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    padding-left: 3%;
    
}

.ipt-barra {
    width: 80%;
    height: 28px;
    border: #008080 2px solid;
    border-radius: 13px;
    background-color: transparent;
    padding-left: 2%;
    outline: none;
    margin-left: 2%;
}
.btn-search{
    background-color: transparent;
    border: none;
}

.btn-search i {
    font-size: 25px;
}

.titulo-itens {
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-around;
}

.empresas-listadas{
    width: 100%;
    height: 80%;
    align-self: center;
    overflow-y: auto;
    margin-top: 3%;
}

.titulo-itens {
    display: flex;
    color: black;
    font-weight: bold;
}

.item-pesquisa {
    flex: 1;
    padding: 8px;
}

.linha-empresa {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.item-linha {
    flex: 1;
    padding: 8px;
    word-break: break-word;
}


.linha-empresa:nth-child(even) {
    background-color: #ffffff; /* bisque */
}

.linha-empresa:nth-child(odd) {
    background-color: #f4f4f4; /* wheat */
}


.titulo-itens p:nth-child(1),
.linha-empresa p:nth-child(1) { flex: 0.4; text-align: center; }  /* ID */

.titulo-itens p:nth-child(2),
.linha-empresa p:nth-child(2) { flex: 1.6; }  /* Nome */

.titulo-itens p:nth-child(3),
.linha-empresa p:nth-child(3) { flex: 2; }    /* CNPJ */

.titulo-itens p:nth-child(4),
.linha-empresa p:nth-child(4) { flex: 1.5; }  /* Resp. */

.titulo-itens p:nth-child(5),
.linha-empresa p:nth-child(5) { flex: 0.6; text-align: center; }  /* Status */


.titulo-itens .acoes,
.linha-empresa .acoes {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}